{% extends 'navbar.html' %}

    {% block content %}

	<div class='container'>
        <div class="jumbotron boxstl" >
           {% if user.is_authenticated %}
                <div class="row justify-content-center align-items-center text-primary" style="height:20vh;">
                <div class="col-auto border display-4">
                    Password Change successfully
                </div>
            </div>
            {% else %}
                <div class="row justify-content-center align-items-center text-warning" style="height:20vh;">
                <div class="col-auto border display-4">Please Login.</div>
                </div>
            {% endif %}
    </div>
    <a href="/" class="col-md-12 btn btn-lg btn-warning" roll="button" aria-pressed="true">
            <b>Main Page</b></a>
    </div>

    {% endblock %}
