{% extends 'navbar.html' %}

    {% block content %}

	<div class='container'>
        <div class="jumbotron" >

            <div class="row justify-content-center align-items-center text-primary" style="height:20vh;">
                <div class="col-auto border display-4">
                    Your Email Send successfully
                </div>
            </div>

        </div>
            <a href="{% url 'login' %}" class="col-md-12 btn btn-lg btn-warning" roll="button" aria-pressed="true">
                <b>Login</b></a>
    </div>

    {% endblock %}
