{% extends 'navbar.html' %}

    {% block content %}

	<div class='container'>
        <div class="jumbotron boxstl" >
            <div class="text-center">
                <button class="btn btn-lg btn-dark col-md-6" data-toggle="collapse" data-target="#logine">
                    Change Password</button>
                <br>
            </div>

            {% if user.is_authenticated %}
                {% if form.errors %}
                <br><br>
                    <p class="bg-warning display-4">Incorrect password.</p>
                {% endif %}

                <br>
                <form method="POST" class="collapse" id="logine">  <!-- action="javascript:alert('Done')" -->
                    {% csrf_token %}
                        
                        <div class="row m-3 h5">
                            <div class="ml-5 mr-5 text-primary">
                                {{ form.old_password.label_tag }}
                            </div>
                            {{ form.old_password }}
                        </div>

                        <div class="row m-3 h5">
                            <div class="ml-5 mr-5 text-primary">
                                {{ form.new_password1.label_tag }}
                            </div>
                                {{ form.new_password1 }}
                        </div>

                        <div class="row m-3 h5">
                            <div class="ml-5 mr-5 text-primary">
                                Conf Password:
                            </div>
                                {{ form.new_password2 }}
                        </div>

                        <br>
                        <p class="text-info ml-5">Your password can't be too similar to your other personal information.</p>
                        <p class="text-info ml-5">Your password must contain at least 8 characters.</p>
                        <p class="text-info ml-5">Your password can't be a commonly used password.</p>
                        <p class="text-info ml-5">Your password can't be entirely numeric.</p>

                    <br>
                    <div class="text-center">
                        <button class="btn btn-lg btn-primary  col-md-3" id="logsubmit">Submit</button>
                    </div>
                </form>
            </div>
            {% else %}
                <p class="text-warning">Please Login.</p>
            {% endif %}

            <a href="/" class="col-md-12 btn btn-lg btn-warning" roll="button" aria-pressed="true">
                <b>Reset Password</b></a>
                {% comment %} { url 'password_reset' } {% endcomment %}
    </div>

    <script type="text/javascript">
    
        var user_id = document.getElementById('id_old_password')
        user_id.className = ("bg-info form-control col-md-8 ml-4 text-right")

        var pass1_id = document.getElementById('id_new_password1')
        pass1_id.className = ("bg-info form-control col-md-8 ml-3 text-right")

        var pass2_id = document.getElementById('id_new_password2')
        pass2_id.className = ("bg-info form-control col-md-8 ml-3 text-right")

    </script>

    {% endblock %}
