{% extends 'navbar.html' %}

    {% block content %}


    <style>
        #id_old_password{
            width : 100%;
        }
        #id_new_password1{
            width : 100%;
        }
        #id_new_password2{
            width : 100%;
        }
    </style>

	<div class='container'>
        <div class="jumbotron boxstl" >
            <div class="text-center">
                <button class="btn btn-lg btn-dark col-md-6" data-toggle="collapse" data-target="#logine">
                    New Password Confirm </button>
                <br>
            </div>

            {% if form.errors %}
                <br><br>
                <p class="bg-warning display-4">Incorrect password.</p>
            {% endif %}

            <br>
            <form method="POST" class="collapse" id="logine">  <!-- action="javascript:alert('Done')" -->
            {% csrf_token %}

            <div class="row m-3 h5">
                <div class="ml-5 mr-5 text-primary">
                    {{ form.old_password.label_tag }}&nbsp
                </div><div class="col-md-8">
                {{ form.old_password }}</div>
            </div>

            <div class="row m-3 h5">
                <div class="ml-5 mr-5 text-primary text-lg">
                    {{ form.new_password1.label_tag }}
                </div><div class="col-md-8">
                    {{ form.new_password1 }}</div>
            </div>

            <div class="row m-3 h5">
                <div class="ml-5 mr-5 text-primary text-lg">
                    Conf Password&nbsp
                </div><div class="col-md-8">
                    {{ form.new_password2 }}</div>
            </div>

            <br><br>
                <p class="text-info ml-5">Your password can't be too similar to your other personal information.</p>
                <p class="text-info ml-5">Your password must contain at least 8 characters.</p>
                <p class="text-info ml-5">Your password can't be a commonly used password.</p>
                <p class="text-info ml-5">Your password can't be entirely numeric.</p>

            <br>
            <div class="text-center">
                <button class="btn btn-lg btn-primary  col-md-6" id="logsubmit">Submit</button>
            </div>
            </form>
            </div>

            <a href="/" class="col-md-12 btn btn-lg btn-warning" roll="button" aria-pressed="true">
                <b>Main Page</b></a>
    </div>
</div>
    {% endblock %}
