    {% extends "navbar.html" %}
    <!-- ============================================= Black Navbar ===================== -->
    {% comment %} { include 'black_navbar.html' } {% endcomment %}
    <!-- ============================================= main ===================== -->


    {% block content %}



    
    <br>

    <div class="container">
      <div class="jumbotron">
        
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wideModal">wide Help</button>
          <div class="modal" id="wideModal">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title">Welcome To Edit Page</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
                      
              <div class="modal-body">
                <h3>To start edit</h3>
                <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim 
                id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 
                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip 
                ex ea commodo consequat.</p>
                <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est 
                laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
                consequat.</p>
              </div>

              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>     
            </div>
          </div>

      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Help</button>
        <div class="modal" id="myModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title">Modal Heading</h1>
                <button type="button" class="close" data-dismiss="modal">×</button>
              </div>
                      
              <div class="modal-body">
                  <h3>To start edit</h3>
                  <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, 
                  consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                   labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 
                   exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                   Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                    eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                    culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed 
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
                    nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  </div>
                  
              <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
                      
            </div>
          </div>
        </div>
          
        <br><br>
        <div class="text-center">
            <button class="btn btn-lg btn-info col-md-8" data-toggle="collapse" data-target="#register">Add Item</button>
        </div>

        <br><br>
        <form class="form" action='' method="POST">{% csrf_token %}
          <div class="collapse" id="register">
           <div class="col">

                { itemform }
            </div>
            <br>
                
            <div class="text-center">
              <h4 class="btn-info text-center col-md-8">{{ error }} </h4>
            <br>
              <button type="submit" class="col-md-7 btn btn-primary">Submit</button>
            </div>
          </div>
        </form>

      </div>
    </div>

{% endblock content %}